<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h4>Session Information</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Build Version:</strong> @_sessionService.BuildVersion
                </li>
                <li class="list-group-item">
                    <strong>Name:</strong> @_sessionService.Name
                </li>
                <li class="list-group-item">
                    <strong>URL:</strong> <a href="@_sessionService.Url">@_sessionService.Url</a>
                </li>
                <li class="list-group-item">
                    <strong>Is Throttled:</strong> @( _sessionService.IsThrottled ? "Yes" : "No" )
                </li>
                <li class="list-group-item">
                    <strong>Is Mobile:</strong> @( _sessionService.IsMobile ? "Yes" : "No" )
                </li>
                <li class="list-group-item">
                    <strong>Is Connected:</strong> @( _sessionService.IsConnected ? "Yes" : "No" )
                </li>
                <li class="list-group-item">
                    <strong>Is Authenticated:</strong> @( _sessionService.IsAuthenticated ? "Yes" : "No" )
                </li>
                <li class="list-group-item">
                    <strong>Is Online:</strong> @( _sessionService.IsOnline ? "Yes" : "No" )
                </li>
            </ul>
        </div>
    </div>
</div>
